* {
    transition: .2s;
}

body {
    margin: auto;
    &.active {
        background-color: #363636;
        color: #000;
    }
}

.keyboard_keys {
    max-width: 1008px;
    width: 100%;
    margin: auto;
    background-color: #e7e7e7;
    font-size: 22px;
    &.active {
        background-color: #585858;
    }
}

.row {
    display: flex;
}

.keys {
    cursor: pointer;
    user-select: none;
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    &:hover {
        background-color: #333;
        color: #fff;
    }
    &.keys_night {
        background-color: #3c3c3c;
        color: #fff;
        &.active,
        &:hover {
            background-color: #fff;
            color: #333;
        }
    }
}

.backspace {
    width: 120px;
}

.tab,
.slash {
    width: 90px;
}

.caps-lock,
.enter {
    width: 128px;
}

.shift {
    width: 124px;
}

.space {
    width: 730px;
}

.text {
    max-width: 1008px;
    width: 100%;
    height: 120px;
    margin: auto;
    display: block;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #efefef;
    margin-bottom: 25px;
    margin-top: 75px;
    resize: none;
    &.active {
        background-color: #2b2b2b;
        color: #fff;
    }
}

.active {
    background-color: #333;
    color: #fff;
}

.night-mode {
    width: 80px;
    height: 30px;
    background-color: #e6e6e6;
    position: absolute;
    right: 25px;
    top: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &.active {
        background-color: #222;
    }
}

.toggle-cicle {
    height: 20px;
    width: 20px;
    background-color: #363636;
    border-radius: 50px;
    margin: 0 5px;
    position: absolute;
    left: 0;
    &.active {
        left: 60%;
        background-color: #fff;
    }
}

.change_light_color {
    width: 100px;
    height: 50px;
    position: absolute;
    right: 150px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors-input {
    height: 50px;
    width: 100px;
    border: none;
    outline: none;
    background-color: transparent;
}